# Analisis Eksploratif Potensi Desa di Indonesia

## Tujuan

Tujuan dari analisis ini adalah mendapatkan insight terkait potensi desa di Indonesia dalam berbagai bidang, seperti kependudukan, fasilitas, ekonomi, dan infrastruktur.

Sumber yang digunakan yaitu data Badan Pusat Statistik (BPS) dan Portal Data Kementerian Desa (Kemendesa)

In [1]:
# Import Libraries
import os
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 1. Pengumpulan Data

Pengumpulan data berdasarkan sumber dengan mengunduh file terkait potensi desa dalam format .csv dan telah diunduh 26 file dari 22 data yang tersedia publik

In [2]:
# Membuat daftar file csv yang telah diunduh
script_dir = os.getcwd()
csv_files = glob.glob(os.path.join(script_dir, 'data', '*.csv'))
print(len(csv_files))

26

In [3]:
# Membuka file CSV dan disimpan dalam dataframe
dataframes = {}

for file_path in csv_files:
    file_name = os.path.splitext(os.path.basename(file_path))[0]
    df = pd.read_csv(file_path, encoding='latin1')
    dataframes[file_name] = df

for name, df in dataframes.items():
    print(f"DataFrame: {name}, Shape: {df.shape}")

DataFrame: 01_Jumlah Desa Mandiri Menurut Provinsi, 2019, Shape: (41, 2)
DataFrame: 01_Jumlah Desa Mandiri Menurut Provinsi, 2020, Shape: (41, 2)
DataFrame: 01_Jumlah Desa Mandiri Menurut Provinsi, 2021, Shape: (41, 2)
DataFrame: 02_Jumlah Desa Tertinggal menurut Provinsi, 2019, Shape: (42, 4)
DataFrame: 02_Jumlah Desa Tertinggal menurut Provinsi, 2020, Shape: (42, 4)
DataFrame: 02_Jumlah Desa Tertinggal menurut Provinsi, 2021, Shape: (42, 4)
DataFrame: 03_Jumlah Desa Menurut Provinsi dan Letak Geografi, 2024, Shape: (42, 3)
DataFrame: 04_Jumlah Desa yang Memiliki Fasilitas Sekolah Menurut Provinsi dan Tingkat Pendidikan, 2024, Shape: (42, 6)
DataFrame: 05_Jumlah Desa_Kelurahan Yang Memiliki Sarana Kesehatan Menurut Provinsi, 2018, Shape: (42, 7)
DataFrame: 06_Banyaknya Desa_Kelurahan yang Memiliki Fasilitas Internet di Kantor Desa_Lurah menurut Provinsi dan Klasifikasi Daerah, 2021, Shape: (42, 4)
DataFrame: 07_Banyaknya Desa_Kelurahan yang Memiliki Menara Base Transceiver Station (BTS) menurut Provinsi dan Klasifikasi Daerah, 2021, Shape: (42, 4)
DataFrame: 08_Banyaknya Desa_Kelurahan yang Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021, Shape: (42, 4)
DataFrame: 09_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Kuat), 2021, Shape: (42, 4)
DataFrame: 10_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Lemah), 2021, Shape: (42, 4)
DataFrame: 11_Banyaknya Desa_Kelurahan yang Tidak Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021, Shape: (42, 4)
DataFrame: 12_Jumlah Desa_Kelurahan Menurut Provinsi, 2024, Shape: (42, 2)
DataFrame: 13_jumlah-pendamping-desa-yang-diberdayakan, Shape: (39, 9)
DataFrame: 14_data-jumlah-masyarakat-desa-yang-diberikan-pelatihan-tahun-2024, Shape: (772, 13)
DataFrame: 15_jumlah-jenis-usaha-dan-status-badan-hukum-bumdesa-bumdesa-bersama, Shape: (167025, 8)
DataFrame: 16_jumlah-bumdesa-dan-bumdesa-bersama-yang-berbadan-hukum, Shape: (21709, 7)
DataFrame: 17_bumdesa-kategori-usaha, Shape: (167025, 7)
DataFrame: 18_jumlah-tenaga-kerja-di-badan-usaha-milik-desa-bumdes, Shape: (18245, 8)
DataFrame: 19_jumlah-bumdesa-dan-bumdesa-bersama-nasional, Shape: (21709, 7)
DataFrame: 20_jumlah-desa-penerima-bantuan-pow, Shape: (98, 7)
DataFrame: 21_Jumlah Desa Manfaat SP, Shape: (37, 69)
DataFrame: 22_Jumlah Desa Status Kemajuan, Shape: (435, 12)

In [4]:
# Melihat data yang telah dibuka
for name, df in dataframes.items():
    print(f"DataFrame: {name}")
    display(df.head())
    print("\n")

DataFrame: 01_Jumlah Desa Mandiri Menurut Provinsi, 2019

   ï»¿38 Provinsi                                   Unnamed: 1
0             NaN  Jumlah Desa Mandiri Menurut Provinsi (Desa)
1             NaN                                         2019
2            ACEH                                           25
3  SUMATERA UTARA                                            6
4  SUMATERA BARAT                                           32

DataFrame: 01_Jumlah Desa Mandiri Menurut Provinsi, 2020

   ï»¿38 Provinsi                                   Unnamed: 1
0             NaN  Jumlah Desa Mandiri Menurut Provinsi (Desa)
1             NaN                                         2020
2            ACEH                                           30
3  SUMATERA UTARA                                            8
4  SUMATERA BARAT                                           40

DataFrame: 01_Jumlah Desa Mandiri Menurut Provinsi, 2021

   ï»¿38 Provinsi                                   Unnamed: 1
0             NaN  Jumlah Desa Mandiri Menurut Provinsi (Desa)
1             NaN                                         2021
2            ACEH                                           34
3  SUMATERA UTARA                                            9
4  SUMATERA BARAT                                           65

DataFrame: 02_Jumlah Desa Tertinggal menurut Provinsi, 2019

,ï»¿38 Provinsi,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,Jumlah Desa Tertinggal menurut Provinsi (Desa),NaN,NaN
1,NaN,Desa Sangat Tertinggal,Desa Tertinggal,Jumlah
2,NaN,2019,2019,2019
3,ACEH,57,1653,1710
4,SUMATERA UTARA,605,1930,2535

DataFrame: 02_Jumlah Desa Tertinggal menurut Provinsi, 2020

,ï»¿38 Provinsi,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,Jumlah Desa Tertinggal menurut Provinsi (Desa),NaN,NaN
1,NaN,Desa Sangat Tertinggal,Desa Tertinggal,Jumlah
2,NaN,2020,2020,2020
3,ACEH,21,894,915
4,SUMATERA UTARA,401,1765,2166

DataFrame: 02_Jumlah Desa Tertinggal menurut Provinsi, 2021

,ï»¿38 Provinsi,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,Jumlah Desa Tertinggal menurut Provinsi (Desa),NaN,NaN
1,NaN,Desa Sangat Tertinggal,Desa Tertinggal,Jumlah
2,NaN,2021,2021,2021
3,ACEH,20,688,708
4,SUMATERA UTARA,321,1527,1848

DataFrame: 03_Jumlah Desa Menurut Provinsi dan Letak Geografi, 2024

,ï»¿38 Provinsi,Unnamed: 1,Unnamed: 2
0,NaN,Jumlah Desa Menurut Provinsi dan Letak Geografi,NaN
1,NaN,Tepi Laut,Bukan Tepi Laut
2,NaN,2024,2024
3,ACEH,724,5792
4,SUMATERA UTARA,430,5683

DataFrame: 04_Jumlah Desa yang Memiliki Fasilitas Sekolah Menurut Provinsi dan Tingkat Pendidikan, 2024

,ï»¿38 Provinsi,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,Jumlah Desa yang Memiliki Fasilitas Sekolah Me...,NaN,NaN,NaN,NaN
1,NaN,SD,SMP,SMU,SMK,Perguruan Tinggi
2,NaN,2024,2024,2024,2024,2024
3,ACEH,3382,1421,735,205,119
4,SUMATERA UTARA,5003,2319,1147,712,202

DataFrame: 05_Jumlah Desa_Kelurahan Yang Memiliki Sarana Kesehatan Menurut Provinsi, 2018

,ï»¿38 Provinsi,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,Jumlah Desa/Kelurahan Yang Memiliki Sarana Kes...,NaN,NaN,NaN,NaN,NaN
1,NaN,Rumah Sakit,Rumah Sakit Bersalin,Poliklinik,Puskesmas,Puskesmas Pembantu,Apotek
2,NaN,2018,2018,2018,2018,2018,2018
3,ACEH,64,225,258,395,971,346
4,SUMATERA UTARA,199,441,800,661,1887,740

DataFrame: 06_Banyaknya Desa_Kelurahan yang Memiliki Fasilitas Internet di Kantor Desa_Lurah menurut Provinsi dan Klasifikasi Daerah, 2021

,ï»¿38 Provinsi,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,Banyaknya Desa/Kelurahan yang Memiliki Fasilit...,NaN,NaN
1,NaN,Perkotaan,Perdesaan,Perkotaan+Perdesaan
2,NaN,2021,2021,2021
3,ACEH,576,2429,3005
4,SUMATERA UTARA,756,2131,2887

DataFrame: 07_Banyaknya Desa_Kelurahan yang Memiliki Menara Base Transceiver Station (BTS) menurut Provinsi dan Klasifikasi Daerah, 2021

,ï»¿38 Provinsi,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,Banyaknya Desa/Kelurahan yang Memiliki Menara ...,NaN,NaN
1,NaN,Perkotaan,Perdesaan,Perkotaan+Perdesaan
2,NaN,2021,2021,2021
3,ACEH,441,1152,1593
4,SUMATERA UTARA,814,1811,2625

DataFrame: 08_Banyaknya Desa_Kelurahan yang Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021

,ï»¿38 Provinsi,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,Banyaknya Desa/Kelurahan yang Memiliki Menara ...,NaN,NaN
1,NaN,Ada Sinyal Kuat,Ada Sinyal Lemah,Tidak Ada Sinyal
2,NaN,2021,2021,2021
3,ACEH,1036,115,1
4,SUMATERA UTARA,1614,195,2

DataFrame: 09_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Kuat), 2021

,ï»¿38 Provinsi,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,Banyaknya Desa/Kelurahan yang Menerima Sinyal ...,NaN,NaN
1,NaN,Perkotaan,Perdesaan,Perkotaan+Perdesaan
2,NaN,2021,2021,2021
3,ACEH,725,4541,5266
4,SUMATERA UTARA,1004,3407,4411

DataFrame: 10_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Lemah), 2021

,ï»¿38 Provinsi,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,Banyaknya Desa/Kelurahan yang Menerima Sinyal ...,NaN,NaN
1,NaN,Perkotaan,Perdesaan,Perkotaan+Perdesaan
2,NaN,2021,2021,2021
3,ACEH,23,1145,1168
4,SUMATERA UTARA,29,1542,1571

DataFrame: 11_Banyaknya Desa_Kelurahan yang Tidak Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021

,ï»¿38 Provinsi,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,Banyaknya Desa/Kelurahan yang Tidak Memiliki M...,NaN,NaN
1,NaN,Ada Sinyal Kuat,Ada Sinyal Lemah,Tidak Ada Sinyal
2,NaN,2021,2021,2021
3,ACEH,3505,1030,78
4,SUMATERA UTARA,1793,1347,148

DataFrame: 12_Jumlah Desa_Kelurahan Menurut Provinsi, 2024

      ï»¿Provinsi  Jumlah Desa
0            Aceh       6516.0
1  Sumatera Utara       6113.0
2  Sumatera Barat       1265.0
3            Riau       1867.0
4           Jambi       1585.0

DataFrame: 13_jumlah-pendamping-desa-yang-diberdayakan

,No,Provinsi,Waktu,TAPM_Pusat,TAPM_Provinsi,\nTAPM_Kabupaten_Kota,\nPD,\n PLD,Total
0,0,JAKARTA/PUSAT,Juni 2024,37.0,NaN,NaN,NaN,NaN,37
1,1,ACEH,Juni 2024,NaN,9.0,112,856,"1,573","2,550"
2,2,SUMATERA UTARA,Juni 2024,NaN,8.0,138,891,"1,402","2,439"
3,3,SUMATERA BARAT,Juni 2024,NaN,6.0,76,271,305,658
4,4,RIAU,Juni 2024,NaN,6.0,54,277,412,749

DataFrame: 14_data-jumlah-masyarakat-desa-yang-diberikan-pelatihan-tahun-2024

,NO,NAMA_BALAI,JENIS_PELATIHAN,WAKTU_PELAKSANAAN,ID_PROVINSI,PROVINSI,ID_KABUPATEN,KABUPATEN,ID_KECAMATAN,KECAMATAN,ID_DESA,DESA,JUMLAH
0,1,Jakarta,BUM Desa,31 Januari - 3 Februari 2024,32,JAWA BARAT,3216.0,BEKASI,321620.0,CIKARANG PUSAT,3.216202e+09,HEGARMUKTI,2
1,2,Jakarta,BUM Desa,31 Januari - 3 Februari 2024,32,JAWA BARAT,3216.0,BEKASI,321602.0,BABELAN,3.216022e+09,HURIP JAYA,2
2,3,Jakarta,BUM Desa,31 Januari - 3 Februari 2024,32,JAWA BARAT,3216.0,BEKASI,321621.0,SERANG BARU,3.212022e+09,JAYAMULYA,2
3,4,Jakarta,BUM Desa,31 Januari - 3 Februari 2024,32,JAWA BARAT,3216.0,BEKASI,321611.0,CIKARANG TIMUR,1.810052e+09,KARANGSARI,2
4,5,Jakarta,BUM Desa,31 Januari - 3 Februari 2024,32,JAWA BARAT,3216.0,BEKASI,321618.0,SETU,3.206192e+09,KERTARAHAYU,2

DataFrame: 15_jumlah-jenis-usaha-dan-status-badan-hukum-bumdesa-bumdesa-bersama

,Provinsi,Kabupaten,Kecamatan,Desa,Nama_BUMDes,ket_kbli,status,Tipe_BUMDes
0,ACEH,ACEH SELATAN,KLUET UTARA,KAMPUNG PAYA,BUM Desa MUTIARA JAYA KAMPUNG PAYA,PENAMPUNGAN DAN PENYALURAN AIR BAKU 244,Terverifikasi Dokumen,BUM Desa
1,ACEH,ACEH SELATAN,KLUET UTARA,KAMPUNG PAYA,BUM Desa MUTIARA JAYA KAMPUNG PAYA,AKTIVITAS PENYEWAAN DAN SEWA GUNA USAHA TANPA ...,Terverifikasi Dokumen,BUM Desa
2,ACEH,ACEH SELATAN,KLUET UTARA,PASI KUALA BA'U,BUM Desa MADAT LAMKUTA PASI KUALA BA'U,"PERDAGANGAN ECERAN KOPI, GULA PASIR DAN GULA M...",Terverifikasi Dokumen,BUM Desa
3,ACEH,ACEH SELATAN,KLUET UTARA,PASI KUALA BA'U,BUM Desa MADAT LAMKUTA PASI KUALA BA'U,UNIT SIMPAN PINJAM KOPERASI PRIMER (USP KOPERA...,Terverifikasi Dokumen,BUM Desa
4,ACEH,ACEH SELATAN,KLUET SELATAN,KAPEH,BUM Desa Makmue Meutani KAPEH,INDUSTRI PENGGILINGAN PADI DAN PENYOSOHAN BERA...,Terverifikasi Dokumen,BUM Desa

DataFrame: 16_jumlah-bumdesa-dan-bumdesa-bersama-yang-berbadan-hukum

,Nama_BUMDes,Provinsi,Kabupaten,Kecamatan,Desa,Status,Kategori
0,BUM DESA MUTIARA JAYA KAMPUNG PAYA,ACEH,ACEH SELATAN,KLUET UTARA,KAMPUNG PAYA,Dokumen Badan Hukum Terverifikasi,BUM Desa
1,BUM DESA MADAT LAMKUTA PASI KUALA BA'U,ACEH,ACEH SELATAN,KLUET UTARA,PASI KUALA BA'U,Dokumen Badan Hukum Terverifikasi,BUM Desa
2,BUM DESA MAKMUE MEUTANI KAPEH,ACEH,ACEH SELATAN,KLUET SELATAN,KAPEH,Dokumen Badan Hukum Terverifikasi,BUM Desa
3,BUM DESA GASEH BEUSAJAN PULO IE,ACEH,ACEH SELATAN,KLUET SELATAN,PULO IE,Dokumen Badan Hukum Terverifikasi,BUM Desa
4,BUM DESA USAHA BARU GAMPONG PASI MEURAPAT,ACEH,ACEH SELATAN,KLUET SELATAN,PASI MEURAPAT,Dokumen Badan Hukum Terverifikasi,BUM Desa

DataFrame: 17_bumdesa-kategori-usaha

,Provinsi,Kabupaten,Kecamatan,Desa,Nama_BUMDes,ket_kbli,Tipe_BUMDes
0,ACEH,ACEH SELATAN,KLUET UTARA,KAMPUNG PAYA,BUM Desa MUTIARA JAYA KAMPUNG PAYA,PENAMPUNGAN DAN PENYALURAN AIR BAKU 244,BUM Desa
1,ACEH,ACEH SELATAN,KLUET UTARA,KAMPUNG PAYA,BUM Desa MUTIARA JAYA KAMPUNG PAYA,AKTIVITAS PENYEWAAN DAN SEWA GUNA USAHA TANPA ...,BUM Desa
2,ACEH,ACEH SELATAN,KLUET UTARA,PASI KUALA BA'U,BUM Desa MADAT LAMKUTA PASI KUALA BA'U,"PERDAGANGAN ECERAN KOPI, GULA PASIR DAN GULA M...",BUM Desa
3,ACEH,ACEH SELATAN,KLUET UTARA,PASI KUALA BA'U,BUM Desa MADAT LAMKUTA PASI KUALA BA'U,UNIT SIMPAN PINJAM KOPERASI PRIMER (USP KOPERA...,BUM Desa
4,ACEH,ACEH SELATAN,KLUET SELATAN,KAPEH,BUM Desa Makmue Meutani KAPEH,INDUSTRI PENGGILINGAN PADI DAN PENYOSOHAN BERA...,BUM Desa

DataFrame: 18_jumlah-tenaga-kerja-di-badan-usaha-milik-desa-bumdes

,Kode_Prov,PROVINSI,KABUPATEN,KECAMATAN,Kode_Desa,DESA,NAMA_BUMDESA,Tenaga_Kerja
0,11.0,ACEH,ACEH SELATAN,KLUET UTARA,1.101022e+09,FAJAR HARAPAN,BUM DESA RIMBA UTAMA FAJAR HARAPAN,NaN
1,11.0,ACEH,ACEH SELATAN,KLUET UTARA,1.101022e+09,PASI KUALA ASAHAN,BUM DESA GIAT BERSAMA PASI KUALA ASAHAN,3.0
2,11.0,ACEH,ACEH SELATAN,KLUET UTARA,1.101022e+09,GUNUNG PULO,BUM DESA RAMPAK SERANGKAI GUNUNG PULO,3.0
3,11.0,ACEH,ACEH SELATAN,KLUET UTARA,1.101022e+09,PULO IE I,BUM DESA JASA TAHIRO PULO IE I,3.0
4,11.0,ACEH,ACEH SELATAN,KLUET UTARA,1.101022e+09,JAMBO MANYANG,BUM DESA JAMBO ASAHAN JAMBO MANYANG,3.0

DataFrame: 19_jumlah-bumdesa-dan-bumdesa-bersama-nasional

,Nama_BUMDes,Provinsi,Kabupaten,Kecamatan,Desa,Status,Kategori
0,BUM DESA MUTIARA JAYA KAMPUNG PAYA,ACEH,ACEH SELATAN,KLUET UTARA,KAMPUNG PAYA,Dokumen Badan Hukum Terverifikasi,BUM Desa
1,BUM DESA MADAT LAMKUTA PASI KUALA BA'U,ACEH,ACEH SELATAN,KLUET UTARA,PASI KUALA BA'U,Dokumen Badan Hukum Terverifikasi,BUM Desa
2,BUM DESA MAKMUE MEUTANI KAPEH,ACEH,ACEH SELATAN,KLUET SELATAN,KAPEH,Dokumen Badan Hukum Terverifikasi,BUM Desa
3,BUM DESA GASEH BEUSAJAN PULO IE,ACEH,ACEH SELATAN,KLUET SELATAN,PULO IE,Dokumen Badan Hukum Terverifikasi,BUM Desa
4,BUM DESA USAHA BARU GAMPONG PASI MEURAPAT,ACEH,ACEH SELATAN,KLUET SELATAN,PASI MEURAPAT,Dokumen Badan Hukum Terverifikasi,BUM Desa

DataFrame: 20_jumlah-desa-penerima-bantuan-pow

,KODE_PROVINSI,NAMA_PROVINSI,KODE_KAB,NAMA_KABUPATEN,JUMLAH_DESA,NOMINAL_BANTUAN,JENIS_BANTUAN
0,11.0,ACEH,1106.0,ACEH BESAR,1.0,"400,000,000","Pembangunan Homestay, dan Pembangunan sarana p..."
1,11.0,ACEH,1104.0,ACEH TENGAH,1.0,"400,000,000",Pembangunan Balai Kesenian dan Bangunan Penduk...
2,11.0,ACEH,1107.0,PIDIE,1.0,"400,000,000","Pembangunan Toilet Umum, Pembangunan Gazebo, d..."
3,11.0,ACEH,1111.0,BIREUEN,1.0,"400,000,000",Pembangunan Gazebo dan Pembangunan Kios
4,36.0,BANTEN,3604.0,SERANG,1.0,"400,000,000","Pembangunan Saung/Gazebo, Pembangunan Toilet Umum"

DataFrame: 21_Jumlah Desa Manfaat SP

,ï»¿_id,Id_prov,Nama_prov,Bak/Tong Sampah,Balai Kemasyarakatan,Bangunan Air Bersih,Bangunan Irigasi,Bangunan Olahraga,Bangunan Polindes,Bangunan Posyandu,...,Sarpras Pendukung TK / PAUD,Sumur,Sumur Resapan / Biofori,Taman bermain / Ruang terbuka Hijau,Tambatan Perahu,Tembok Penahan Tanah,Tempat Pembuangan Sampah,Tempat Pengolahan Sampah,Tempat Penjemuran Tanaman Pangan,Grand Total
0,1,11,ACEH,10.0,1177,376,93.0,244.0,68.0,179,...,202,128,11.0,31,20.0,495.0,7.0,2.0,12.0,22161
1,2,12,SUMATERA UTARA,25.0,263,462,54.0,47.0,22.0,47,...,100,193,5.0,22,14.0,430.0,6.0,11.0,4.0,15446
2,3,13,SUMATERA BARAT,9.0,45,48,35.0,28.0,50.0,65,...,107,7,1.0,10,2.0,43.0,4.0,4.0,4.0,4186
3,4,14,RIAU,2.0,79,177,7.0,95.0,25.0,199,...,135,185,2.0,37,39.0,126.0,1.0,1.0,1.0,6980
4,5,15,JAMBI,10.0,90,159,18.0,107.0,29.0,85,...,135,111,1.0,18,19.0,58.0,13.0,12.0,1.0,4729

DataFrame: 22_Jumlah Desa Status Kemajuan

,ï»¿_id,KODE PROVINSI,NAMA PROVINSI,KODE KAB,NAMA KABUPATEN,DESA\nMANDIRI,DESA\nMAJU,DESA\nBERKEMBANG,DESA\nTERTINGGAL,DESA SANGAT TERTINGGAL,TIDAK MEMENUHI KRITERIA (tidak melakukan pengukuran berdasarkan,TOTAL DESA
0,1,11.0,ACEH,1105.0,ACEH BARAT,21.0,57.0,188.0,54.0,1.0,1,322.0
1,2,11.0,ACEH,1112.0,ACEH BARAT DAYA,7.0,30.0,112.0,3.0,0.0,0,152.0
2,3,11.0,ACEH,1106.0,ACEH BESAR,45.0,191.0,355.0,12.0,0.0,1,604.0
3,4,11.0,ACEH,1114.0,ACEH JAYA,12.0,28.0,115.0,15.0,2.0,0,172.0
4,5,11.0,ACEH,1101.0,ACEH SELATAN,13.0,37.0,159.0,49.0,2.0,0,260.0

Mayoritas kolom data dari BPS belum terbaca dengan baik sehingga diperbaiki terlebih dahulu berdasarkan sumber data

## 2. Analisis Data (EDA)

### Data Cleaning

In [5]:
# Mapping untuk mengubah nama kolom
peta_kolom = {
    '01_Jumlah Desa Mandiri Menurut Provinsi, 2019': {
        'ï»¿38 Provinsi': 'Provinsi',
        'Unnamed: 1': 'Jumlah Desa Mandiri Menurut Provinsi (Desa)_2019'
    },
    '01_Jumlah Desa Mandiri Menurut Provinsi, 2020': {
        'ï»¿38 Provinsi': 'Provinsi',
        'Unnamed: 1': 'Jumlah Desa Mandiri Menurut Provinsi (Desa)_2020'
    },
    '01_Jumlah Desa Mandiri Menurut Provinsi, 2021': {
        'ï»¿38 Provinsi': 'Provinsi',
        'Unnamed: 1': 'Jumlah Desa Mandiri Menurut Provinsi (Desa)_2021'
    },
    '02_Jumlah Desa Tertinggal menurut Provinsi, 2019': {
        'ï»¿38 Provinsi': 'Provinsi',
        'Unnamed: 1': 'Desa Sangat Tertinggal_2019',
        'Unnamed: 2': 'Desa Tertinggal_2019',
        'Unnamed: 3': 'Jumlah_2019'
    },
    '02_Jumlah Desa Tertinggal menurut Provinsi, 2020': {
        'ï»¿38 Provinsi': 'Provinsi',
        'Unnamed: 1': 'Desa Sangat Tertinggal_2020',
        'Unnamed: 2': 'Desa Tertinggal_2020',
        'Unnamed: 3': 'Jumlah_2020'
    },
    '02_Jumlah Desa Tertinggal menurut Provinsi, 2021': {
        'ï»¿38 Provinsi': 'Provinsi',
        'Unnamed: 1': 'Desa Sangat Tertinggal_2021',
        'Unnamed: 2': 'Desa Tertinggal_2021',
        'Unnamed: 3': 'Jumlah_2021'
    },
    '03_Jumlah Desa Menurut Provinsi dan Letak Geografi, 2024': {
        'ï»¿38 Provinsi': 'Provinsi',
        'Unnamed: 1': 'Tepi Laut_2024',
        'Unnamed: 2': 'Bukan Tepi Laut_2024'
    },
    '04_Jumlah Desa yang Memiliki Fasilitas Sekolah Menurut Provinsi dan Tingkat Pendidikan, 2024': {
        'ï»¿38 Provinsi': 'Provinsi',
        'Unnamed: 1': 'SD_2024',
        'Unnamed: 2': 'SMP_2024',
        'Unnamed: 3': 'SMU_2024',
        'Unnamed: 4': 'SMK_2024',
        'Unnamed: 5': 'Perguruan Tinggi_2024'
    },
    '05_Jumlah Desa_Kelurahan Yang Memiliki Sarana Kesehatan Menurut Provinsi, 2018': {
        'ï»¿38 Provinsi': 'Provinsi',
        'Unnamed: 1': 'Rumah Sakit_2018',
        'Unnamed: 2': 'Rumah Sakit Bersalin_2018',
        'Unnamed: 3': 'Poliklinik_2018',
        'Unnamed: 4': 'Puskesmas_2018',
        'Unnamed: 5': 'Puskesmas Pembantu_2018',
        'Unnamed: 6': 'Apotek_2018'
    },
    '06_Banyaknya Desa_Kelurahan yang Memiliki Fasilitas Internet di Kantor Desa_Lurah menurut Provinsi dan Klasifikasi Daerah, 2021': {
        'ï»¿38 Provinsi': 'Provinsi',
        'Unnamed: 1': 'Perkotaan_2021',
        'Unnamed: 2': 'Pedesaan_2021',
        'Unnamed: 3': 'Perkotaan+Perdesaan_2021'
    },
    '07_Banyaknya Desa_Kelurahan yang Memiliki Menara Base Transceiver Station (BTS) menurut Provinsi dan Klasifikasi Daerah, 2021': {
        'ï»¿38 Provinsi': 'Provinsi',
        'Unnamed: 1': 'Perkotaan_2021',
        'Unnamed: 2': 'Pedesaan_2021',
        'Unnamed: 3': 'Perkotaan+Perdesaan_2021'
    },
    '08_Banyaknya Desa_Kelurahan yang Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021': {
        'ï»¿38 Provinsi': 'Provinsi',
        'Unnamed: 1': 'Ada Sinyal Kuat_2021',
        'Unnamed: 2': 'Ada Sinyal Lemah_2021',
        'Unnamed: 3': 'Tidak Ada Sinyal_2021'
    },
    '09_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Kuat), 2021': {
        'ï»¿38 Provinsi': 'Provinsi',
        'Unnamed: 1': 'Perkotaan_2021',
        'Unnamed: 2': 'Pedesaan_2021',
        'Unnamed: 3': 'Perkotaan+Perdesaan_2021'
    },
    '10_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Lemah), 2021': {
        'ï»¿38 Provinsi': 'Provinsi',
        'Unnamed: 1': 'Perkotaan_2021',
        'Unnamed: 2': 'Pedesaan_2021',
        'Unnamed: 3': 'Perkotaan+Perdesaan_2021'
    },
    '11_Banyaknya Desa_Kelurahan yang Tidak Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021': {
        'ï»¿38 Provinsi': 'Provinsi',
        'Unnamed: 1': 'Ada Sinyal Kuat_2021',
        'Unnamed: 2': 'Ada Sinyal Lemah_2021',
        'Unnamed: 3': 'Tidak Ada Sinyal_2021'
    },
    '12_Jumlah Desa_Kelurahan Menurut Provinsi, 2024': {
        'ï»¿Provinsi': 'Provinsi',
        'Jumlah Desa': 'Jumlah Desa_2024'
    },
    '13_jumlah-pendamping-desa-yang-diberdayakan': {
        '\nTAPM_Kabupaten_Kota': 'TAPM_Kabupaten_Kota',
        '\nPD': 'PD',
        '\n PLD': 'PLD'
    },
    '21_Jumlah Desa Manfaat SP': {
        'ï»¿_id': 'id',
    },
    '22_Jumlah Desa Status Kemajuan': {
        'ï»¿_id': 'id',
        'DESA\nMANDIRI': 'DESA MANDIRI',
        'DESA\nMAJU': 'DESA MAJU',
        'DESA\nBERKEMBANG': 'DESA BERKEMBANG',
        'DESA\nTERTINGGAL': 'DESA TERTINGGAL'
    }
}

In [6]:
# Penggantian nama kolom untuk setiap dataframe
for nama, df in dataframes.items():
    if nama in peta_kolom:
        df.rename(columns=peta_kolom[nama], inplace=True)
        print(f"Kolom untuk DataFrame '{nama}' berhasil diubah.")

Kolom untuk DataFrame '01_Jumlah Desa Mandiri Menurut Provinsi, 2019' berhasil diubah.
Kolom untuk DataFrame '01_Jumlah Desa Mandiri Menurut Provinsi, 2020' berhasil diubah.
Kolom untuk DataFrame '01_Jumlah Desa Mandiri Menurut Provinsi, 2021' berhasil diubah.
Kolom untuk DataFrame '02_Jumlah Desa Tertinggal menurut Provinsi, 2019' berhasil diubah.
Kolom untuk DataFrame '02_Jumlah Desa Tertinggal menurut Provinsi, 2020' berhasil diubah.
Kolom untuk DataFrame '02_Jumlah Desa Tertinggal menurut Provinsi, 2021' berhasil diubah.
Kolom untuk DataFrame '03_Jumlah Desa Menurut Provinsi dan Letak Geografi, 2024' berhasil diubah.
Kolom untuk DataFrame '04_Jumlah Desa yang Memiliki Fasilitas Sekolah Menurut Provinsi dan Tingkat Pendidikan, 2024' berhasil diubah.
Kolom untuk DataFrame '05_Jumlah Desa_Kelurahan Yang Memiliki Sarana Kesehatan Menurut Provinsi, 2018' berhasil diubah.
Kolom untuk DataFrame '06_Banyaknya Desa_Kelurahan yang Memiliki Fasilitas Internet di Kantor Desa_Lurah menurut Provinsi dan Klasifikasi Daerah, 2021' berhasil diubah.
Kolom untuk DataFrame '07_Banyaknya Desa_Kelurahan yang Memiliki Menara Base Transceiver Station (BTS) menurut Provinsi dan Klasifikasi Daerah, 2021' berhasil diubah.
Kolom untuk DataFrame '08_Banyaknya Desa_Kelurahan yang Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021' berhasil diubah.
Kolom untuk DataFrame '09_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Kuat), 2021' berhasil diubah.
Kolom untuk DataFrame '10_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Lemah), 2021' berhasil diubah.
Kolom untuk DataFrame '11_Banyaknya Desa_Kelurahan yang Tidak Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021' berhasil diubah.
Kolom untuk DataFrame '12_Jumlah Desa_Kelurahan Menurut Provinsi, 2024' berhasil diubah.
Kolom untuk DataFrame '13_jumlah-pendamping-desa-yang-diberdayakan' berhasil diubah.
Kolom untuk DataFrame '21_Jumlah Desa Manfaat SP' berhasil diubah.
Kolom untuk DataFrame '22_Jumlah Desa Status Kemajuan' berhasil diubah.

#### Cek Missing Value

In [7]:
# Cek Missing Value
for name, df in dataframes.items():
    print(f"Jumlah missing value untuk df {name}:")
    display(df.isna().sum())

Jumlah missing value untuk df 01_Jumlah Desa Mandiri Menurut Provinsi, 2019:

Provinsi                                            2
Jumlah Desa Mandiri Menurut Provinsi (Desa)_2019    0
dtype: int64

Jumlah missing value untuk df 01_Jumlah Desa Mandiri Menurut Provinsi, 2020:

Provinsi                                            2
Jumlah Desa Mandiri Menurut Provinsi (Desa)_2020    0
dtype: int64

Jumlah missing value untuk df 01_Jumlah Desa Mandiri Menurut Provinsi, 2021:

Provinsi                                            2
Jumlah Desa Mandiri Menurut Provinsi (Desa)_2021    0
dtype: int64

Jumlah missing value untuk df 02_Jumlah Desa Tertinggal menurut Provinsi, 2019:

Provinsi                       3
Desa Sangat Tertinggal_2019    0
Desa Tertinggal_2019           1
Jumlah_2019                    1
dtype: int64

Jumlah missing value untuk df 02_Jumlah Desa Tertinggal menurut Provinsi, 2020:

Provinsi                       3
Desa Sangat Tertinggal_2020    0
Desa Tertinggal_2020           1
Jumlah_2020                    1
dtype: int64

Jumlah missing value untuk df 02_Jumlah Desa Tertinggal menurut Provinsi, 2021:

Provinsi                       3
Desa Sangat Tertinggal_2021    0
Desa Tertinggal_2021           1
Jumlah_2021                    1
dtype: int64

Jumlah missing value untuk df 03_Jumlah Desa Menurut Provinsi dan Letak Geografi, 2024:

Provinsi                3
Tepi Laut_2024          0
Bukan Tepi Laut_2024    1
dtype: int64

Jumlah missing value untuk df 04_Jumlah Desa yang Memiliki Fasilitas Sekolah Menurut Provinsi dan Tingkat Pendidikan, 2024:

Provinsi                 3
SD_2024                  0
SMP_2024                 1
SMU_2024                 1
SMK_2024                 1
Perguruan Tinggi_2024    1
dtype: int64

Jumlah missing value untuk df 05_Jumlah Desa_Kelurahan Yang Memiliki Sarana Kesehatan Menurut Provinsi, 2018:

Provinsi                     3
Rumah Sakit_2018             0
Rumah Sakit Bersalin_2018    1
Poliklinik_2018              1
Puskesmas_2018               1
Puskesmas Pembantu_2018      1
Apotek_2018                  1
dtype: int64

Jumlah missing value untuk df 06_Banyaknya Desa_Kelurahan yang Memiliki Fasilitas Internet di Kantor Desa_Lurah menurut Provinsi dan Klasifikasi Daerah, 2021:

Provinsi                    3
Perkotaan_2021              0
Pedesaan_2021               1
Perkotaan+Perdesaan_2021    1
dtype: int64

Jumlah missing value untuk df 07_Banyaknya Desa_Kelurahan yang Memiliki Menara Base Transceiver Station (BTS) menurut Provinsi dan Klasifikasi Daerah, 2021:

Provinsi                    3
Perkotaan_2021              0
Pedesaan_2021               1
Perkotaan+Perdesaan_2021    1
dtype: int64

Jumlah missing value untuk df 08_Banyaknya Desa_Kelurahan yang Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021:

Provinsi                 3
Ada Sinyal Kuat_2021     0
Ada Sinyal Lemah_2021    1
Tidak Ada Sinyal_2021    1
dtype: int64

Jumlah missing value untuk df 09_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Kuat), 2021:

Provinsi                    3
Perkotaan_2021              0
Pedesaan_2021               1
Perkotaan+Perdesaan_2021    1
dtype: int64

Jumlah missing value untuk df 10_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Lemah), 2021:

Provinsi                    3
Perkotaan_2021              0
Pedesaan_2021               1
Perkotaan+Perdesaan_2021    1
dtype: int64

Jumlah missing value untuk df 11_Banyaknya Desa_Kelurahan yang Tidak Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021:

Provinsi                 3
Ada Sinyal Kuat_2021     0
Ada Sinyal Lemah_2021    1
Tidak Ada Sinyal_2021    1
dtype: int64

Jumlah missing value untuk df 12_Jumlah Desa_Kelurahan Menurut Provinsi, 2024:

Provinsi            1
Jumlah Desa_2024    3
dtype: int64

Jumlah missing value untuk df 13_jumlah-pendamping-desa-yang-diberdayakan:

No                      0
Provinsi                1
Waktu                   1
 TAPM_Pusat            37
 TAPM_Provinsi          1
TAPM_Kabupaten_Kota     1
PD                      1
PLD                     1
Total                   0
dtype: int64

Jumlah missing value untuk df 14_data-jumlah-masyarakat-desa-yang-diberikan-pelatihan-tahun-2024:

NO                    0
NAMA_BALAI            0
JENIS_PELATIHAN       0
WAKTU_PELAKSANAAN     0
ID_PROVINSI           0
PROVINSI              0
ID_KABUPATEN          2
KABUPATEN             0
ID_KECAMATAN         17
KECAMATAN             0
ID_DESA              94
DESA                  0
 JUMLAH               0
dtype: int64

Jumlah missing value untuk df 15_jumlah-jenis-usaha-dan-status-badan-hukum-bumdesa-bumdesa-bersama:

Provinsi       0
Kabupaten      0
Kecamatan      0
Desa           0
Nama_BUMDes    0
ket_kbli       0
status         0
Tipe_BUMDes    0
dtype: int64

Jumlah missing value untuk df 16_jumlah-bumdesa-dan-bumdesa-bersama-yang-berbadan-hukum:

Nama_BUMDes    0
Provinsi       0
Kabupaten      0
Kecamatan      1
Desa           0
Status         0
Kategori       0
dtype: int64

Jumlah missing value untuk df 17_bumdesa-kategori-usaha:

Provinsi       0
Kabupaten      0
Kecamatan      0
Desa           0
Nama_BUMDes    0
ket_kbli       0
Tipe_BUMDes    0
dtype: int64

Jumlah missing value untuk df 18_jumlah-tenaga-kerja-di-badan-usaha-milik-desa-bumdes:

Kode_Prov          2
PROVINSI           2
KABUPATEN          2
KECAMATAN          2
Kode_Desa          2
DESA               2
NAMA_BUMDESA       2
Tenaga_Kerja    6959
dtype: int64

Jumlah missing value untuk df 19_jumlah-bumdesa-dan-bumdesa-bersama-nasional:

Nama_BUMDes    0
Provinsi       0
Kabupaten      0
Kecamatan      1
Desa           0
Status         0
Kategori       0
dtype: int64

Jumlah missing value untuk df 20_jumlah-desa-penerima-bantuan-pow:

KODE_PROVINSI      1
NAMA_PROVINSI      1
KODE_KAB           1
NAMA_KABUPATEN     1
JUMLAH_DESA        1
NOMINAL_BANTUAN    1
JENIS_BANTUAN      2
dtype: int64

Jumlah missing value untuk df 21_Jumlah Desa Manfaat SP:

id                                  0
Id_prov                             0
Nama_prov                           1
Bak/Tong Sampah                     4
Balai Kemasyarakatan                0
                                   ..
Tembok Penahan Tanah                1
Tempat Pembuangan Sampah            4
Tempat Pengolahan Sampah            7
Tempat Penjemuran Tanaman Pangan    6
Grand Total                         0
Length: 69, dtype: int64

Jumlah missing value untuk df 22_Jumlah Desa Status Kemajuan:

id                                                                 0
KODE PROVINSI                                                      1
NAMA PROVINSI                                                      0
KODE KAB                                                           1
NAMA KABUPATEN                                                     1
DESA MANDIRI                                                       0
DESA MAJU                                                          0
DESA BERKEMBANG                                                    0
DESA TERTINGGAL                                                    0
DESA SANGAT TERTINGGAL                                             0
TIDAK MEMENUHI KRITERIA (tidak melakukan pengukuran berdasarkan    0
TOTAL DESA                                                         0
dtype: int64

In [8]:
# Hapus data yang nilainya null pada kolom Provinsi (beda format header/tidak digunakan)
province_column = ['Provinsi', 'Provinsi ', 'PROVINSI', 'NAMA_PROVINSI', 'NAMA PROVINSI', 'Nama_prov']
for name, df in dataframes.items():
    for column in province_column:
        if column in df.columns:
            dataframes[name] = df.dropna(subset=column)

In [9]:
# Cek Tipe Data
for name, df in dataframes.items():
    print(f"Tipe Data untuk df {name}:")
    display(df.dtypes)

Tipe Data untuk df 01_Jumlah Desa Mandiri Menurut Provinsi, 2019:

Provinsi                                            object
Jumlah Desa Mandiri Menurut Provinsi (Desa)_2019    object
dtype: object

Tipe Data untuk df 01_Jumlah Desa Mandiri Menurut Provinsi, 2020:

Provinsi                                            object
Jumlah Desa Mandiri Menurut Provinsi (Desa)_2020    object
dtype: object

Tipe Data untuk df 01_Jumlah Desa Mandiri Menurut Provinsi, 2021:

Provinsi                                            object
Jumlah Desa Mandiri Menurut Provinsi (Desa)_2021    object
dtype: object

Tipe Data untuk df 02_Jumlah Desa Tertinggal menurut Provinsi, 2019:

Provinsi                       object
Desa Sangat Tertinggal_2019    object
Desa Tertinggal_2019           object
Jumlah_2019                    object
dtype: object

Tipe Data untuk df 02_Jumlah Desa Tertinggal menurut Provinsi, 2020:

Provinsi                       object
Desa Sangat Tertinggal_2020    object
Desa Tertinggal_2020           object
Jumlah_2020                    object
dtype: object

Tipe Data untuk df 02_Jumlah Desa Tertinggal menurut Provinsi, 2021:

Provinsi                       object
Desa Sangat Tertinggal_2021    object
Desa Tertinggal_2021           object
Jumlah_2021                    object
dtype: object

Tipe Data untuk df 03_Jumlah Desa Menurut Provinsi dan Letak Geografi, 2024:

Provinsi                object
Tepi Laut_2024          object
Bukan Tepi Laut_2024    object
dtype: object

Tipe Data untuk df 04_Jumlah Desa yang Memiliki Fasilitas Sekolah Menurut Provinsi dan Tingkat Pendidikan, 2024:

Provinsi                 object
SD_2024                  object
SMP_2024                 object
SMU_2024                 object
SMK_2024                 object
Perguruan Tinggi_2024    object
dtype: object

Tipe Data untuk df 05_Jumlah Desa_Kelurahan Yang Memiliki Sarana Kesehatan Menurut Provinsi, 2018:

Provinsi                     object
Rumah Sakit_2018             object
Rumah Sakit Bersalin_2018    object
Poliklinik_2018              object
Puskesmas_2018               object
Puskesmas Pembantu_2018      object
Apotek_2018                  object
dtype: object

Tipe Data untuk df 06_Banyaknya Desa_Kelurahan yang Memiliki Fasilitas Internet di Kantor Desa_Lurah menurut Provinsi dan Klasifikasi Daerah, 2021:

Provinsi                    object
Perkotaan_2021              object
Pedesaan_2021               object
Perkotaan+Perdesaan_2021    object
dtype: object

Tipe Data untuk df 07_Banyaknya Desa_Kelurahan yang Memiliki Menara Base Transceiver Station (BTS) menurut Provinsi dan Klasifikasi Daerah, 2021:

Provinsi                    object
Perkotaan_2021              object
Pedesaan_2021               object
Perkotaan+Perdesaan_2021    object
dtype: object

Tipe Data untuk df 08_Banyaknya Desa_Kelurahan yang Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021:

Provinsi                 object
Ada Sinyal Kuat_2021     object
Ada Sinyal Lemah_2021    object
Tidak Ada Sinyal_2021    object
dtype: object

Tipe Data untuk df 09_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Kuat), 2021:

Provinsi                    object
Perkotaan_2021              object
Pedesaan_2021               object
Perkotaan+Perdesaan_2021    object
dtype: object

Tipe Data untuk df 10_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Lemah), 2021:

Provinsi                    object
Perkotaan_2021              object
Pedesaan_2021               object
Perkotaan+Perdesaan_2021    object
dtype: object

Tipe Data untuk df 11_Banyaknya Desa_Kelurahan yang Tidak Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021:

Provinsi                 object
Ada Sinyal Kuat_2021     object
Ada Sinyal Lemah_2021    object
Tidak Ada Sinyal_2021    object
dtype: object

Tipe Data untuk df 12_Jumlah Desa_Kelurahan Menurut Provinsi, 2024:

Provinsi             object
Jumlah Desa_2024    float64
dtype: object

Tipe Data untuk df 13_jumlah-pendamping-desa-yang-diberdayakan:

No                      object
Provinsi                object
Waktu                   object
 TAPM_Pusat            float64
 TAPM_Provinsi         float64
TAPM_Kabupaten_Kota     object
PD                      object
PLD                     object
Total                   object
dtype: object

Tipe Data untuk df 14_data-jumlah-masyarakat-desa-yang-diberikan-pelatihan-tahun-2024:

NO                     int64
NAMA_BALAI            object
JENIS_PELATIHAN       object
WAKTU_PELAKSANAAN     object
ID_PROVINSI            int64
PROVINSI              object
ID_KABUPATEN         float64
KABUPATEN             object
ID_KECAMATAN         float64
KECAMATAN             object
ID_DESA              float64
DESA                  object
 JUMLAH                int64
dtype: object

Tipe Data untuk df 15_jumlah-jenis-usaha-dan-status-badan-hukum-bumdesa-bumdesa-bersama:

Provinsi       object
Kabupaten      object
Kecamatan      object
Desa           object
Nama_BUMDes    object
ket_kbli       object
status         object
Tipe_BUMDes    object
dtype: object

Tipe Data untuk df 16_jumlah-bumdesa-dan-bumdesa-bersama-yang-berbadan-hukum:

Nama_BUMDes    object
Provinsi       object
Kabupaten      object
Kecamatan      object
Desa           object
Status         object
Kategori       object
dtype: object

Tipe Data untuk df 17_bumdesa-kategori-usaha:

Provinsi       object
Kabupaten      object
Kecamatan      object
Desa           object
Nama_BUMDes    object
ket_kbli       object
Tipe_BUMDes    object
dtype: object

Tipe Data untuk df 18_jumlah-tenaga-kerja-di-badan-usaha-milik-desa-bumdes:

Kode_Prov       float64
PROVINSI         object
KABUPATEN        object
KECAMATAN        object
Kode_Desa       float64
DESA             object
NAMA_BUMDESA     object
Tenaga_Kerja    float64
dtype: object

Tipe Data untuk df 19_jumlah-bumdesa-dan-bumdesa-bersama-nasional:

Nama_BUMDes    object
Provinsi       object
Kabupaten      object
Kecamatan      object
Desa           object
Status         object
Kategori       object
dtype: object

Tipe Data untuk df 20_jumlah-desa-penerima-bantuan-pow:

KODE_PROVINSI      float64
NAMA_PROVINSI       object
KODE_KAB           float64
NAMA_KABUPATEN      object
JUMLAH_DESA        float64
NOMINAL_BANTUAN     object
JENIS_BANTUAN       object
dtype: object

Tipe Data untuk df 21_Jumlah Desa Manfaat SP:

id                                    int64
Id_prov                              object
Nama_prov                            object
Bak/Tong Sampah                     float64
Balai Kemasyarakatan                  int64
                                     ...
Tembok Penahan Tanah                float64
Tempat Pembuangan Sampah            float64
Tempat Pengolahan Sampah            float64
Tempat Penjemuran Tanaman Pangan    float64
Grand Total                           int64
Length: 69, dtype: object

Tipe Data untuk df 22_Jumlah Desa Status Kemajuan:

id                                                                   int64
KODE PROVINSI                                                      float64
NAMA PROVINSI                                                       object
KODE KAB                                                           float64
NAMA KABUPATEN                                                      object
DESA MANDIRI                                                       float64
DESA MAJU                                                          float64
DESA BERKEMBANG                                                    float64
DESA TERTINGGAL                                                    float64
DESA SANGAT TERTINGGAL                                             float64
TIDAK MEMENUHI KRITERIA (tidak melakukan pengukuran berdasarkan      int64
TOTAL DESA                                                         float64
dtype: object

In [10]:
# Mapping untuk mengubah tipe data
peta_tipe_data_numerik = {
    '01_Jumlah Desa Mandiri Menurut Provinsi, 2019': [
        'Jumlah Desa Mandiri Menurut Provinsi (Desa)_2019'
    ],
    '01_Jumlah Desa Mandiri Menurut Provinsi, 2020': [
        'Jumlah Desa Mandiri Menurut Provinsi (Desa)_2020'
    ],
    '01_Jumlah Desa Mandiri Menurut Provinsi, 2021': [
        'Jumlah Desa Mandiri Menurut Provinsi (Desa)_2021'
    ],
    '02_Jumlah Desa Tertinggal menurut Provinsi, 2019': [
        'Desa Sangat Tertinggal_2019',
        'Desa Tertinggal_2019',
        'Jumlah_2019'
    ],
    '02_Jumlah Desa Tertinggal menurut Provinsi, 2020': [
        'Desa Sangat Tertinggal_2020',
        'Desa Tertinggal_2020',
        'Jumlah_2020'
    ],
    '02_Jumlah Desa Tertinggal menurut Provinsi, 2021': [
        'Desa Sangat Tertinggal_2021',
        'Desa Tertinggal_2021',
        'Jumlah_2021'
    ],
    '03_Jumlah Desa Menurut Provinsi dan Letak Geografi, 2024': [
        'Tepi Laut_2024',
        'Bukan Tepi Laut_2024'
    ],
    '04_Jumlah Desa yang Memiliki Fasilitas Sekolah Menurut Provinsi dan Tingkat Pendidikan, 2024': [
        'SD_2024',
        'SMP_2024',
        'SMU_2024',
        'SMK_2024',
        'Perguruan Tinggi_2024'
    ],
    '05_Jumlah Desa_Kelurahan Yang Memiliki Sarana Kesehatan Menurut Provinsi, 2018': [
        'Rumah Sakit_2018',
        'Rumah Sakit Bersalin_2018',
        'Poliklinik_2018',
        'Puskesmas_2018',
        'Puskesmas Pembantu_2018',
        'Apotek_2018'
    ],
    '06_Banyaknya Desa_Kelurahan yang Memiliki Fasilitas Internet di Kantor Desa_Lurah menurut Provinsi dan Klasifikasi Daerah, 2021': [
        'Perkotaan_2021',
        'Pedesaan_2021',
        'Perkotaan+Perdesaan_2021'
    ],
    '07_Banyaknya Desa_Kelurahan yang Memiliki Menara Base Transceiver Station (BTS) menurut Provinsi dan Klasifikasi Daerah, 2021': [
        'Perkotaan_2021',
        'Pedesaan_2021',
        'Perkotaan+Perdesaan_2021'
    ],
    '08_Banyaknya Desa_Kelurahan yang Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021': [
        'Ada Sinyal Kuat_2021',
        'Ada Sinyal Lemah_2021',
        'Tidak Ada Sinyal_2021'
    ],
    '09_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Kuat), 2021': [
        'Perkotaan_2021',
        'Pedesaan_2021',
        'Perkotaan+Perdesaan_2021'
    ],
    '10_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Lemah), 2021': [
        'Perkotaan_2021',
        'Pedesaan_2021',
        'Perkotaan+Perdesaan_2021'
    ],
    '11_Banyaknya Desa_Kelurahan yang Tidak Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021': [
        'Ada Sinyal Kuat_2021',
        'Ada Sinyal Lemah_2021',
        'Tidak Ada Sinyal_2021'
    ],
    '13_jumlah-pendamping-desa-yang-diberdayakan': [
        'TAPM_Kabupaten_Kota',
        'PD',
        'PLD',
        'Total'
    ],
    '20_jumlah-desa-penerima-bantuan-pow': [
        'NOMINAL_BANTUAN'
    ]
}

In [11]:
# Penggantian tipe data untuk setiap dataframe menjadi numerik
for nama, df in dataframes.items():
    if nama in peta_tipe_data_numerik:
        mapping_tipe = peta_tipe_data_numerik[nama]
        # Lakukan iterasi untuk setiap kolom yang akan diubah 
        for kolom in mapping_tipe:
            if kolom in df.columns:
                try:
                    df[kolom] = pd.to_numeric(df[kolom], errors='coerce')
                    print(f"DataFrame '{nama}', Kolom '{kolom}' berhasil diubah menjadi numerik")
                except Exception as e:
                    print(f"Gagal mengubah kolom '{kolom}' di DataFrame '{nama}': {e}")
    # Isi kolom lainnya dengan nilai nol sebagai penanda data kosong termasuk data bernilai strip '-'
    df.fillna(0, inplace=True)
    df.drop_duplicates(inplace=True)

DataFrame '01_Jumlah Desa Mandiri Menurut Provinsi, 2019', Kolom 'Jumlah Desa Mandiri Menurut Provinsi (Desa)_2019' berhasil diubah menjadi numerik
DataFrame '01_Jumlah Desa Mandiri Menurut Provinsi, 2020', Kolom 'Jumlah Desa Mandiri Menurut Provinsi (Desa)_2020' berhasil diubah menjadi numerik
DataFrame '01_Jumlah Desa Mandiri Menurut Provinsi, 2021', Kolom 'Jumlah Desa Mandiri Menurut Provinsi (Desa)_2021' berhasil diubah menjadi numerik
DataFrame '02_Jumlah Desa Tertinggal menurut Provinsi, 2019', Kolom 'Desa Sangat Tertinggal_2019' berhasil diubah menjadi numerik
DataFrame '02_Jumlah Desa Tertinggal menurut Provinsi, 2019', Kolom 'Desa Tertinggal_2019' berhasil diubah menjadi numerik
DataFrame '02_Jumlah Desa Tertinggal menurut Provinsi, 2019', Kolom 'Jumlah_2019' berhasil diubah menjadi numerik
DataFrame '02_Jumlah Desa Tertinggal menurut Provinsi, 2020', Kolom 'Desa Sangat Tertinggal_2020' berhasil diubah menjadi numerik
DataFrame '02_Jumlah Desa Tertinggal menurut Provinsi, 2020', Kolom 'Desa Tertinggal_2020' berhasil diubah menjadi numerik
DataFrame '02_Jumlah Desa Tertinggal menurut Provinsi, 2020', Kolom 'Jumlah_2020' berhasil diubah menjadi numerik
DataFrame '02_Jumlah Desa Tertinggal menurut Provinsi, 2021', Kolom 'Desa Sangat Tertinggal_2021' berhasil diubah menjadi numerik
DataFrame '02_Jumlah Desa Tertinggal menurut Provinsi, 2021', Kolom 'Desa Tertinggal_2021' berhasil diubah menjadi numerik
DataFrame '02_Jumlah Desa Tertinggal menurut Provinsi, 2021', Kolom 'Jumlah_2021' berhasil diubah menjadi numerik

DataFrame '03_Jumlah Desa Menurut Provinsi dan Letak Geografi, 2024', Kolom 'Tepi Laut_2024' berhasil diubah menjadi numerik
DataFrame '03_Jumlah Desa Menurut Provinsi dan Letak Geografi, 2024', Kolom 'Bukan Tepi Laut_2024' berhasil diubah menjadi numerik
DataFrame '04_Jumlah Desa yang Memiliki Fasilitas Sekolah Menurut Provinsi dan Tingkat Pendidikan, 2024', Kolom 'SD_2024' berhasil diubah menjadi numerik
DataFrame '04_Jumlah Desa yang Memiliki Fasilitas Sekolah Menurut Provinsi dan Tingkat Pendidikan, 2024', Kolom 'SMP_2024' berhasil diubah menjadi numerik
DataFrame '04_Jumlah Desa yang Memiliki Fasilitas Sekolah Menurut Provinsi dan Tingkat Pendidikan, 2024', Kolom 'SMU_2024' berhasil diubah menjadi numerik
DataFrame '04_Jumlah Desa yang Memiliki Fasilitas Sekolah Menurut Provinsi dan Tingkat Pendidikan, 2024', Kolom 'SMK_2024' berhasil diubah menjadi numerik
DataFrame '04_Jumlah Desa yang Memiliki Fasilitas Sekolah Menurut Provinsi dan Tingkat Pendidikan, 2024', Kolom 'Perguruan Tinggi_2024' berhasil diubah menjadi numerik
DataFrame '05_Jumlah Desa_Kelurahan Yang Memiliki Sarana Kesehatan Menurut Provinsi, 2018', Kolom 'Rumah Sakit_2018' berhasil diubah menjadi numerik
DataFrame '05_Jumlah Desa_Kelurahan Yang Memiliki Sarana Kesehatan Menurut Provinsi, 2018', Kolom 'Rumah Sakit Bersalin_2018' berhasil diubah menjadi numerik
DataFrame '05_Jumlah Desa_Kelurahan Yang Memiliki Sarana Kesehatan Menurut Provinsi, 2018', Kolom 'Poliklinik_2018' berhasil diubah menjadi numerik
DataFrame '05_Jumlah Desa_Kelurahan Yang Memiliki Sarana Kesehatan Menurut Provinsi, 2018', Kolom 'Puskesmas_2018' berhasil diubah menjadi numerik
DataFrame '05_Jumlah Desa_Kelurahan Yang Memiliki Sarana Kesehatan Menurut Provinsi, 2018', Kolom 'Puskesmas Pembantu_2018' berhasil diubah menjadi numerik
DataFrame '05_Jumlah Desa_Kelurahan Yang Memiliki Sarana Kesehatan Menurut Provinsi, 2018', Kolom 'Apotek_2018' berhasil diubah menjadi numerik
DataFrame '06_Banyaknya Desa_Kelurahan yang Memiliki Fasilitas Internet di Kantor Desa_Lurah menurut Provinsi dan Klasifikasi Daerah, 2021', Kolom 'Perkotaan_2021' berhasil diubah menjadi numerik
DataFrame '06_Banyaknya Desa_Kelurahan yang Memiliki Fasilitas Internet di Kantor Desa_Lurah menurut Provinsi dan Klasifikasi Daerah, 2021', Kolom 'Pedesaan_2021' berhasil diubah menjadi numerik
DataFrame '06_Banyaknya Desa_Kelurahan yang Memiliki Fasilitas Internet di Kantor Desa_Lurah menurut Provinsi dan Klasifikasi Daerah, 2021', Kolom 'Perkotaan+Perdesaan_2021' berhasil diubah menjadi numerik
DataFrame '07_Banyaknya Desa_Kelurahan yang Memiliki Menara Base Transceiver Station (BTS) menurut Provinsi dan Klasifikasi Daerah, 2021', Kolom 'Perkotaan_2021' berhasil diubah menjadi numerik
DataFrame '07_Banyaknya Desa_Kelurahan yang Memiliki Menara Base Transceiver Station (BTS) menurut Provinsi dan Klasifikasi Daerah, 2021', Kolom 'Pedesaan_2021' berhasil diubah menjadi numerik
DataFrame '07_Banyaknya Desa_Kelurahan yang Memiliki Menara Base Transceiver Station (BTS) menurut Provinsi dan Klasifikasi Daerah, 2021', Kolom 'Perkotaan+Perdesaan_2021' berhasil diubah menjadi numerik
DataFrame '08_Banyaknya Desa_Kelurahan yang Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021', Kolom 'Ada Sinyal Kuat_2021' berhasil diubah menjadi numerik
DataFrame '08_Banyaknya Desa_Kelurahan yang Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021', Kolom 'Ada Sinyal Lemah_2021' berhasil diubah menjadi numerik
DataFrame '08_Banyaknya Desa_Kelurahan yang Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021', Kolom 'Tidak Ada Sinyal_2021' berhasil diubah menjadi numerik
DataFrame '09_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Kuat), 2021', Kolom 'Perkotaan_2021' berhasil diubah menjadi numerik
DataFrame '09_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Kuat), 2021', Kolom 'Pedesaan_2021' berhasil diubah menjadi numerik
DataFrame '09_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Kuat), 2021', Kolom 'Perkotaan+Perdesaan_2021' berhasil diubah menjadi numerik
DataFrame '10_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Lemah), 2021', Kolom 'Perkotaan_2021' berhasil diubah menjadi numerik
DataFrame '10_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Lemah), 2021', Kolom 'Pedesaan_2021' berhasil diubah menjadi numerik
DataFrame '10_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Lemah), 2021', Kolom 'Perkotaan+Perdesaan_2021' berhasil diubah menjadi numerik
DataFrame '11_Banyaknya Desa_Kelurahan yang Tidak Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021', Kolom 'Ada Sinyal Kuat_2021' berhasil diubah menjadi numerik
DataFrame '11_Banyaknya Desa_Kelurahan yang Tidak Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021', Kolom 'Ada Sinyal Lemah_2021' berhasil diubah menjadi numerik
DataFrame '11_Banyaknya Desa_Kelurahan yang Tidak Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021', Kolom 'Tidak Ada Sinyal_2021' berhasil diubah menjadi numerik
DataFrame '13_jumlah-pendamping-desa-yang-diberdayakan', Kolom 'TAPM_Kabupaten_Kota' berhasil diubah menjadi numerik
DataFrame '13_jumlah-pendamping-desa-yang-diberdayakan', Kolom 'PD' berhasil diubah menjadi numerik
DataFrame '13_jumlah-pendamping-desa-yang-diberdayakan', Kolom 'PLD' berhasil diubah menjadi numerik
DataFrame '20_jumlah-desa-penerima-bantuan-pow', Kolom 'NOMINAL_BANTUAN' berhasil diubah menjadi numerik

Dataframe yang telah dilakukan cleaning disimpan dalam format csv untuk dilakukan analisis selanjutnya

In [12]:
output_folder = 'data\\processed'
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

# Simpan Processed Data
for name, df in dataframes.items():
    nama_file_baru = f"{name}-processed.csv"
    path_lengkap = os.path.join(output_folder, nama_file_baru)
    df.to_csv(path_lengkap, index=False)
    print(f"DataFrame '{name}' berhasil disimpan sebagai '{path_lengkap}'")

DataFrame '01_Jumlah Desa Mandiri Menurut Provinsi, 2019' berhasil disimpan sebagai 'data\processed\01_Jumlah Desa Mandiri Menurut Provinsi, 2019-processed.csv'
DataFrame '01_Jumlah Desa Mandiri Menurut Provinsi, 2020' berhasil disimpan sebagai 'data\processed\01_Jumlah Desa Mandiri Menurut Provinsi, 2020-processed.csv'
DataFrame '01_Jumlah Desa Mandiri Menurut Provinsi, 2021' berhasil disimpan sebagai 'data\processed\01_Jumlah Desa Mandiri Menurut Provinsi, 2021-processed.csv'
DataFrame '02_Jumlah Desa Tertinggal menurut Provinsi, 2019' berhasil disimpan sebagai 'data\processed\02_Jumlah Desa Tertinggal menurut Provinsi, 2019-processed.csv'
DataFrame '02_Jumlah Desa Tertinggal menurut Provinsi, 2020' berhasil disimpan sebagai 'data\processed\02_Jumlah Desa Tertinggal menurut Provinsi, 2020-processed.csv'
DataFrame '02_Jumlah Desa Tertinggal menurut Provinsi, 2021' berhasil disimpan sebagai 'data\processed\02_Jumlah Desa Tertinggal menurut Provinsi, 2021-processed.csv'
DataFrame '03_Jumlah Desa Menurut Provinsi dan Letak Geografi, 2024' berhasil disimpan sebagai 'data\processed\03_Jumlah Desa Menurut Provinsi dan Letak Geografi, 2024-processed.csv'
DataFrame '04_Jumlah Desa yang Memiliki Fasilitas Sekolah Menurut Provinsi dan Tingkat Pendidikan, 2024' berhasil disimpan sebagai 'data\processed\04_Jumlah Desa yang Memiliki Fasilitas Sekolah Menurut Provinsi dan Tingkat Pendidikan, 2024-processed.csv'
DataFrame '05_Jumlah Desa_Kelurahan Yang Memiliki Sarana Kesehatan Menurut Provinsi, 2018' berhasil disimpan sebagai 'data\processed\05_Jumlah Desa_Kelurahan Yang Memiliki Sarana Kesehatan Menurut Provinsi, 2018-processed.csv'
DataFrame '06_Banyaknya Desa_Kelurahan yang Memiliki Fasilitas Internet di Kantor Desa_Lurah menurut Provinsi dan Klasifikasi Daerah, 2021' berhasil disimpan sebagai 'data\processed\06_Banyaknya Desa_Kelurahan yang Memiliki Fasilitas Internet di Kantor Desa_Lurah menurut Provinsi dan Klasifikasi Daerah, 2021-processed.csv'
DataFrame '07_Banyaknya Desa_Kelurahan yang Memiliki Menara Base Transceiver Station (BTS) menurut Provinsi dan Klasifikasi Daerah, 2021' berhasil disimpan sebagai 'data\processed\07_Banyaknya Desa_Kelurahan yang Memiliki Menara Base Transceiver Station (BTS) menurut Provinsi dan Klasifikasi Daerah, 2021-processed.csv'
DataFrame '08_Banyaknya Desa_Kelurahan yang Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021' berhasil disimpan sebagai 'data\processed\08_Banyaknya Desa_Kelurahan yang Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021-processed.csv'
DataFrame '09_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Kuat), 2021' berhasil disimpan sebagai 'data\processed\09_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Kuat), 2021-processed.csv'
DataFrame '10_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Lemah), 2021' berhasil disimpan sebagai 'data\processed\10_Banyaknya Desa_Kelurahan yang Menerima Sinyal Telepon Selular Menurut Provinsi (Sinyal Lemah), 2021-processed.csv'
DataFrame '11_Banyaknya Desa_Kelurahan yang Tidak Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021' berhasil disimpan sebagai 'data\processed\11_Banyaknya Desa_Kelurahan yang Tidak Memiliki Menara BTS Menurut Provinsi dan Penerimaan Sinyal Telepon Selular (Perdesaan), 2021-processed.csv'
DataFrame '12_Jumlah Desa_Kelurahan Menurut Provinsi, 2024' berhasil disimpan sebagai 'data\processed\12_Jumlah Desa_Kelurahan Menurut Provinsi, 2024-processed.csv'
DataFrame '13_jumlah-pendamping-desa-yang-diberdayakan' berhasil disimpan sebagai 'data\processed\13_jumlah-pendamping-desa-yang-diberdayakan-processed.csv'
DataFrame '14_data-jumlah-masyarakat-desa-yang-diberikan-pelatihan-tahun-2024' berhasil disimpan sebagai 'data\processed\14_data-jumlah-masyarakat-desa-yang-diberikan-pelatihan-tahun-2024-processed.csv'
DataFrame '15_jumlah-jenis-usaha-dan-status-badan-hukum-bumdesa-bumdesa-bersama' berhasil disimpan sebagai 'data\processed\15_jumlah-jenis-usaha-dan-status-badan-hukum-bumdesa-bumdesa-bersama-processed.csv'
DataFrame '16_jumlah-bumdesa-dan-bumdesa-bersama-yang-berbadan-hukum' berhasil disimpan sebagai 'data\processed\16_jumlah-bumdesa-dan-bumdesa-bersama-yang-berbadan-hukum-processed.csv'
DataFrame '17_bumdesa-kategori-usaha' berhasil disimpan sebagai 'data\processed\17_bumdesa-kategori-usaha-processed.csv'
DataFrame '18_jumlah-tenaga-kerja-di-badan-usaha-milik-desa-bumdes' berhasil disimpan sebagai 'data\processed\18_jumlah-tenaga-kerja-di-badan-usaha-milik-desa-bumdes-processed.csv'
DataFrame '19_jumlah-bumdesa-dan-bumdesa-bersama-nasional' berhasil disimpan sebagai 'data\processed\19_jumlah-bumdesa-dan-bumdesa-bersama-nasional-processed.csv'
DataFrame '20_jumlah-desa-penerima-bantuan-pow' berhasil disimpan sebagai 'data\processed\20_jumlah-desa-penerima-bantuan-pow-processed.csv'
DataFrame '21_Jumlah Desa Manfaat SP' berhasil disimpan sebagai 'data\processed\21_Jumlah Desa Manfaat SP-processed.csv'
DataFrame '22_Jumlah Desa Status Kemajuan' berhasil disimpan sebagai 'data\processed\22_Jumlah Desa Status Kemajuan-processed.csv'